<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.fawns.service.dao.system.ControlMapper">
	<resultMap id="controlResultMap" type="com.fawns.service.entity.system.Control">
		<result property="id" column="id" javaType="INTEGER" jdbcType="VARCHAR"/>
		<result property="description" column="description" javaType="string" jdbcType="VARCHAR"/>
		<result property="name" column="name" javaType="string" jdbcType="VARCHAR"/>
		<result property="type" column="url" javaType="string" jdbcType="VARCHAR"/>
		<result property="status" column="status" javaType="string" jdbcType="VARCHAR"/>
		<result property="controlId" column="control_id" javaType="string" jdbcType="VARCHAR"/>
		<result property="resourceId" column="resource_id" javaType="string" jdbcType="VARCHAR"/>
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="DATE"/>
		<result property="createOperId" column="create_oper_id" javaType="string" jdbcType="VARCHAR"/>
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="DATE"/>
		<result property="updateOperId" column="update_oper_id" javaType="string" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		id,
		control_id,
		resource_id,
		name,
		type,
       	description,
       	status,
       	create_date,
       	create_oper_id,
       	update_date,
       	update_oper_id
	</sql>
	
	<select id="queryControlListByCondition" resultMap="controlResultMap" parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		from sys_control
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="resourceId != null and resourceId != ''">
				AND resource_id = #{resourceId}
			</if>
			<if test="keywords != null and keywords != ''">
				AND name LIKE "%"#{keywords}"%"
      		</if>
      		<if test="status != null and status != ''">
				AND status = #{status}
      		</if>
      	</trim>
	</select>
	
	<!--检测该资源下的控件信息是否存在 -->
	<select id="checkControl" resultType="com.fawns.service.entity.system.Control" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from sys_control where control_id = #{controlId} and resource_id = #{resourceId}
	</select>
	
	<!-- 保存新控件信息 -->
	<insert id="addControl" parameterType="com.fawns.service.entity.system.Resource" useGeneratedKeys="true" keyProperty="id">
		insert into sys_control (
			id,
			control_id,
			resource_id,
			name,
			type,
	       	description,
	       	status,
	       	create_date,
	       	create_oper_id
		)
		values(
			#{id},
			#{controlId},
			#{resourceId},
			#{name},
			#{type},
			#{description},
			#{status},
			#{createDate},
			#{createOperId}
		)
	</insert>
	
	<!-- 删除控件信息 -->
	<delete id="deleteControl" parameterType="int">
		<![CDATA[
			delete from sys_control where id = #{id}
		]]>
	</delete>
	
	<!-- 根据资源ID删除该资源所对应的control信息 -->
	<delete id="deleteControlByResId" parameterType="string">
		<![CDATA[
			delete from sys_control where resource_id = #{resourceId}
		]]>
	</delete>
	
	<!--根据控件代码得到控件实体bean -->
	<select id="getControl" resultType="com.fawns.service.entity.system.Control" parameterType="int">
		select
		id as id,
       	description as description,
       	name as name,
       	type as type,
       	control_id as controlId,
       	resource_id as resourceId,
       	status as status
		from sys_control where id = #{id}
	</select>
	
	<!-- 修改控件信息 -->
	<update id="editControl" parameterType="com.fawns.service.entity.system.Control">
		UPDATE sys_control 
			<set>
				<if test="controlId!=null">
				control_id = #{controlId},
				</if>
				<if test="resourceId!=null">
				resource_id = #{resourceId},
				</if>
				<if test="name!=null">
				name = #{name},
				</if>
				<if test="description!=null">
				description = #{description},
				</if>
				<if test="type!=null">
				type = #{type},
				</if>
				<if test="status!=null">
				status = #{status},
				</if>
				<if test="updateDate!=null">
				update_date = #{updateDate},
				</if>
				<if test="updateOperId!=null">
				update_oper_id = #{updateOperId}
				</if>
			</set>
		WHERE 
			id = #{id}
	</update>
</mapper>