<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.fawns.service.dao.system.UserRoleMapper">
	<resultMap id="roleResultMap" type="com.fawns.service.entity.system.Role">
		<result property="id" column="id" javaType="INTEGER" jdbcType="VARCHAR"/>
		<result property="name" column="name" javaType="string" jdbcType="VARCHAR"/>
		<result property="description" column="description" javaType="string" jdbcType="VARCHAR"/>
		<result property="status" column="status" javaType="string" jdbcType="VARCHAR"/>
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="DATE"/>
		<result property="createOperId" column="create_oper_id" javaType="string" jdbcType="VARCHAR"/>
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="DATE"/>
		<result property="updateOperId" column="update_oper_id" javaType="string" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="User_Role_Column_List">
		role_id,
       	user_id,
       	create_date,
       	create_oper_id,
       	update_date,
       	update_oper_id
	</sql>
	
	<sql id="Role_Column_List">
		sr.id,
		sr.name,
       	sr.description,
       	sr.status,
       	sr.create_date,
       	sr.create_oper_id,
       	sr.update_date,
       	sr.update_oper_id
	</sql>
	
	<!-- 保存用户所属角色信息 -->
	<insert id="addUserRole" parameterType="java.util.List">
		INSERT INTO sys_user_role (role_id,user_id,create_date,create_oper_id)
		VALUES <foreach collection="list" item="item" index="index"  
	    separator=",">  
	    (#{item.roleId}, #{item.userId}, #{item.createDate}, #{item.createOperId})  
		</foreach>  
	</insert>
	
	<!-- 根据用户ID删除用户所属于的角色信息 -->
	<delete id="deleteUserRole" parameterType="string">
		<![CDATA[
			delete from sys_user_role where user_id = #{username}
		]]>
	</delete>
	
	<!-- 根据角色ID删除用户所属于的角色信息 -->
	<delete id="deleteRoleUser" parameterType="int">
		<![CDATA[
			delete from sys_user_role where role_id = #{roleId}
		]]>
	</delete>
	
	<!-- 根据用户名查找该用户所属的角色 -->
	<select id="getUserRoles" resultMap="roleResultMap" parameterType="string">
		select 
			<include refid="Role_Column_List" />
		from sys_user_role sur left join sys_role sr on sur.role_id=sr.id where sur.user_id=#{username}
	</select>
</mapper>